<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>
        <%= title %>
    </h1>
    <a href="/admin/genre/add" class="btn btn-success">Thêm thể loại</a>
</div>
<%- include('../partials/messages') %>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên thể loại</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <% genres.forEach((genre,index)=> { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= genre.name %>
                    </td>
                    <td>
                        <a href="/admin/genre/edit/<%= genre.id %>" class="btn btn-primary btn-sm">Sửa</a>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#confirmDeleteModal" data-id="<%= genre.id %>"
                            data-url="/admin/genre/delete/<%= genre.id %>" data-name="<%= genre.name %>">
                            Xóa
                        </button>
                    </td>
                </tr>
                <% }) %>
        </tbody>

    </table>

    <%- include('../partials/pagination', { totalPages, currentPage, pages }) %>
        <%- include('../partials/formDelete') %>